<!-- Footer logos -->
<div class="bg-white p-2">
    <div class="row mx-auto">
        <div class="mx-auto mt-3 " id="sponsors">
          <img src="{{ site.baseurl }}/images/logos/ucm_logo_black_white.png"
          alt="UCM logo" class="img-fluid"/>
          <img src="{{ site.baseurl }}/images/logos/ace.png" alt="Arts Council logo"
          class="img-fluid" />
          <img src="{{ site.baseurl }}/images/logos/unicam.png" alt="Cambridge Uni logo"
          class="img-fluid" />
        </div>
    </div>
</div>
