{% assign data = site.data.labeldata | where:"slug", page.slug %}
{% if data != blank and data[0]label_type != 'Panel'%}
<div class="shadow-sm p-3 mx-auto mb-3 rounded intro-card h-100">

  <h3>Collections data</h3>

<div class="row">
  <div class="col-md-6">
    <p class="align-top">
      {% if data[0]object_1_title != blank %}
      Title: {{ data[0]object_1_title | string}} <br />
      {% endif %}

      {% if data[0]object_1 != blank %}
      Object number: {{ data[0]object_1 | string }}<br />
      {% endif %}

      {% if data[0]object_1_production_information != blank %}
      Production: {{ data[0]object_1_production_information | string}}<br />
      {% endif %}

      {% if data[0]acquisition_credit_line != blank %}
      Acquisition: {{ data[0]acquisition_credit_line | string }}<br />
      {% endif %}

      {% if data[0]maker != blank %}
      Maker: {{ data[0]maker | string }}<br />
      {% endif %}

      {% if data[0]technique_description != blank %}
      Technique: {{ data[0]technique_description | string }}<br />
      {% endif %}

      {% if data[0]object_1_department != blank %}
      Department: object_1_department
      {% endif %}
    </p>
  </div>
  <div class="col-md-6 fit-image ">
    <img src="{{ data[0]object_1_cover_image string }}"
    class="img-fluid img-rounded float-right p-2 align-top" />
  </div>
</div>
  {% if data[0]display_location != blank %}
  <span class="mb-1 mt-1 badge badge-dark p-2">{{ data[0]display_location }}</span>
  {% endif %}

</div>
{% endif %}
