{% assign data = site.data.labeldata | where:"slug", page.slug %}
{% if data != blank and content != blank %}
<div class="shadow-sm p-3 mx-auto mb-3 rounded intro-card word-count minimum h-100">
    <span class="mb-3 badge badge-wine float-right p-2 ">{% include read_time.html %}</span>
    {{ content }}
    {% if data[0]label_content != blank %}
        {{ data[0]label_content | newline_to_br }}
    {% endif %}
</div>
{% elsif content != blank %}
<div class="shadow-sm p-3 mx-auto mb-3 rounded intro-card word-count minimum h-100">
    <span class="mb-3 badge badge-wine float-right p-2 ">{% include read_time.html %}</span>
    {{ content }}

    {% if data[0]label_content != blank %}
        {{ data[0]label_content | newline_to_br }}
    {% endif %}
</div>
{% elsif data[0]label_type == 'Panel' %}
<div class="shadow-sm p-3 mx-auto mb-3 rounded intro-card word-count minimum h-100">
    <span class="mb-3 badge badge-wine float-right p-2 ">{% include read_time.html %}</span>
    {{ content }}
    {% if data[0]label_content != blank %}
        {{ data[0]label_content | newline_to_br }}
    {% endif %}
</div>
{% endif %}
