{% if page.audio != blank %}
<div class="shadow-sm p-3 mx-auto mb-3 rounded">
  <div class="plyr">
    <div class="embed-responsive audio-player">
    <audio id="player" controls class="embed-responsive-item">
      <source src="/audio/{{ page.audio }}" type="audio/mp3" />
    </audio>
    </div>
  </div>
</div>
{% endif %}

{% if page.video != blank %}
<div class="shadow-sm p-3 mx-auto mb-3 rounded">
  <div class="embed-responsive">
    <div class="player " data-plyr-provider="youtube"
    data-plyr-embed-id="{{ page.video }}"></div>
  </div>
</div>
{% endif %}
